section {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  background-color: #141d2f;
  padding: 150px 0 100px 150px;
}

.shadow-about {
  position: absolute;
  width: auto;
  height: 800px;
  top: -300px;
  right: 0;
}

h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 650px;
}

.about-bulb {
  display: flex;
  gap: 35px;
  img {
    height: 50px;
  }
  p {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
  }
}
.about-puzzle {
  display: flex;
  gap: 35px;
  img {
    height: 50px;
  }
  p {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
  }
}

.character-container {
  display: flex;
  align-items: center;
  img:nth-child(1) {
    border-radius: 50%;
    border: 4px solid #1cdae6;
    width: 25vw;
  }
  img:nth-child(2) {
    width: 15vw;
  }
}

@media (max-width: 1500px) {
  h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 108px;
  }

  section {
    padding: 150px 0 100px 100px;
  }
}

@media (max-width: 1350px) {
  .character-container {
    display: none;
  }

  section {
    padding: 100px 100px;
    display: flex;
    justify-content: center;
  }

  .shadow-about {
    height: 50vh;
  }
}

@media (max-width: 560px) {
  section {
    padding: 50px 50px;
  }
  h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
  }

  .about-bulb {
    gap: 20px;
  }
  .about-puzzle {
    gap: 20px;
  }
}

@media (max-width: 560px) {
  section {
    padding: 50px 20px;
  }
}

@media (max-width: 360px) {
  h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 30px;
  }
}
