<section>
  <div class="text-header">
    <img src="assets/img/contact/contact-line-left.png" alt="" />
    <h1>Contact</h1>
  </div>

  <div class="contact-container">
    <div class="contact-container-left">
      <h2>Got a problem to solve?</h2>
      <span>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </span>
      <span> Need a Frontend developer? <b>Contact me!</b> </span>
    </div>
    <div class="contact-container-right">
      <form action="" class="contact-container-form">
        <input type="text" placeholder="Your name" />
        <input type="text" placeholder="Your email" />
        <textarea
          name="Your message"
          id="message"
          minlength="10"
          placeholder="Your message"
          autocomplete="off"
        ></textarea>
        <div class="contact-container-right-privacy">
        <div class="contact-checkbox"></div>
        <span
          >I've read the
          <a href="#">privacy policy</a>
          and agree to the processing of my data as outlined.</span
        >
        </div>
        <button>Send message :)</button>
      </form>
    </div>
  </div>
  <img src="assets/img/contact/contact-shadow-1.png" class="contact-shadow-1">
</section>
