.section-intro {
  height: 100vh;
  background-color: #141d2f;
  position: relative;
}

.container-intro {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  top: 150px;
  width: 100%;
}

.wave-img {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: 2;
  bottom: -140px;
}

.character {
  position: relative;
  overflow: visible;
  img:nth-child(1) {
    width: 600px;
    height: auto;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    overflow: visible;
  }
  img:nth-child(2) {
    width: 600px;
    height: auto;
    rotate: -90deg;
  }
}

.descr {
  display: flex;
  align-items: center;
}

.descr-iam {
  font-size: 64px;
  font-weight: 400;
  rotate: -90deg;
  height: 35px;
  word-spacing: 5px;
}

.name {
  display: flex;
  flex-direction: column;
  span:nth-child(1) {
    font-size: 90px;
    font-weight: 700;
    rotate: 0deg;
    line-height: 100px;
  }

  span:nth-child(2) {
    font-size: 58px;
    font-weight: 400;
    color: #4b47ff;
  }
  span {
    display: inline-block;
    width: 100%;
  }
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  z-index: 3;
  button {
    background-color: #00bee8;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    z-index: 3;
  }
  button:hover {
    background-color: #4b47ff;
    transform-origin: center;
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
  }
}

.intro-contact {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: flex-end;
  gap: 42px;
  background-color: transparent;
  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    display: flex;
  }
}

.intro-line {
  position: absolute;
  z-index: 100;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 100px;
  background-color: transparent !important;
}

.intro-scroll {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  transform-origin: bottom right;
  right: 0;
  top: 0;
  transform: rotate(0deg) translateX(100%) translateY(0%);
  font-weight: 400;
  font-size: 23px;
  animation: jumpInfinite 2s infinite;
  box-sizing: border-box;
}

img {
  background-color: transparent !important;
}

.d-none-line {
  display: none;
}

@keyframes jumpInfinite {
  0% {
    margin-bottom: 0;
  }
  10% {
    margin-bottom: 5px;
  }
  20% {
    margin-bottom: 10px;
  }
  30% {
    margin-bottom: 15px;
  }
  40% {
    margin-bottom: 20px;
  }
  50% {
    margin-bottom: 25px;
  }
  60% {
    margin-bottom: 20px;
  }
  70% {
    margin-bottom: 15px;
  }
  80% {
    margin-bottom: 10px;
  }
  90% {
    margin-bottom: 5px;
  }
  100% {
    margin-bottom: 0;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 42px;
  a {
    &:hover:nth-child(2),
    &:hover:nth-child(3),
    &:hover:nth-child(4) {
      transform-origin: center;
      transform: scale(1.34);
    }
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;

  background-color: #4b47ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-animation:hover {
  color: #00bee8;
}

@media (max-width: 1500px) {
  .container-intro {
    gap: 0;
  }
}

@media (max-width: 1450px) {
  .descr-iam {
    font-size: 50px;
  }
  .name {
    span:nth-child(1) {
      font-size: 60px;
      letter-spacing: 10px;
      line-height: normal;
    }
    span:nth-child(2) {
      font-size: 50px;
    }
  }
}

@media (max-width: 1300px) {
  .character {
    img:nth-child(1) {
      width: 550px;
    }
    img:nth-child(2) {
      width: 550px;
    }
  }
  .wave-img {
    bottom: -85px;
  }
}

@media (max-width: 1240px) {
  .container-intro {
    img:nth-child(1) {
      position: absolute;
      width: 100%;
      height: 300px;
      z-index: 2;
      bottom: -175px;
    }
  }

  .descr-iam {
    font-size: 40px;
  }

  .character {
    position: relative;
    padding-left: 30px;
    img:nth-child(1) {
      width: 500px;
      height: auto;
      position: absolute;
      z-index: 1;
      bottom: 0px;
    }
    img:nth-child(2) {
      width: 500px;
    }
  }

  .descr {
    padding-right: 50px;
  }

  .wave-img {
    bottom: 120px;
    height: 200px;
  }

  .container-intro {
    padding-top: 90px;
  }

  .descr-iam {
    word-spacing: -2px;
  }
  .name {
    span:nth-child(1) {
      font-size: 50px;
      line-height: 50px;
    }
    span:nth-child(2) {
      font-size: 44px;
    }
  }
}

@media (max-width: 1195px) {
  .container-intro {
    flex-direction: column;
    padding-top: 0;
    gap: 50px;
    top: 90px;
  }

  .contact {
    width: 100vw;
  }

  .descr {
    padding-right: 30px;
    width: 100%;
    &span:nth-child(1) {
      width: 0px;
    }
  }

  .wave-img {
    top: 600px;
    bottom: 0;
    height: 150px;
  }

  .character {
    bottom: -30px;
    padding-left: 0;
  }

  .intro-contact {
    a:nth-child(5) {
      display: none;
    }
    padding-bottom: 20px;
  }
  .intro-scroll-img {
    display: none;
  }

  .descr {
    &span:nth-child(1) {
      line-height: 20px;
    }
  }

  .intro {
    gap: 35px;
  }

  .intro-line {
    top: 950px;
  }
}

@media (max-width: 830px) {
  .container-intro {
    top: 100px;
  }
  .wave-img {
    top: 620px;
    bottom: 0;
    height: 120px;
  }
  .intro-line {
    top: 970px;
  }
  .intro {
    gap: 25px;
  }
}

@media (max-width: 700px) {
  .intro {
    width: 100%;
  }
  .descr {
    display: flex;
    justify-content: center;
    padding-right: 40px;
    &span:nth-child(1) {
      height: 0px;
      line-height: 0;
    }
  }
  .name {
    span:nth-child(1) {
      line-height: 60px;
    }
    span:nth-child(2) {
      line-height: 60px;
    }
  }

  .wave-img {
    height: 80px;
    top: 635px;
  }

  .d-none-line {
    display: block;
  }

  .contact {
    justify-content: space-between;
  }
}

@media (max-width: 610px) {
  .descr-iam {
    height: 20px;
    font-size: 29px;
  }

  .name {
    span:nth-child(1) {
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 7.3px;
    }
    span:nth-child(2) {
      font-size: 36px;
      line-height: 40px;
    }
  }

  .container-intro {
    gap: 85px;
  }
}

@media (max-width: 500px) {
  .character {
    img {
      width: 450px !important;
    }
  }
  .wave-img {
    height: 80px;
    top: 580px;
  }

  .container-intro {
    gap: 80px;
  }

  .intro-line {
    top: 810px;
  }

  .contact {
    gap: 9vw;
    &img:nth-child(1) {
      width: 30%;
    }
  }

  .intro-line-img {
    width: 18vw !important;
  }

  .intro{
    gap:60px;
    z-index: 200;
  }
}

@media (max-width: 458px) {
  .intro-contact {
    padding-bottom: 30px;
  }
  .descr-iam {
    height: 20px;
    span:nth-child(1) {
      font-size: 30px;
    }
  }
}
@media (max-width: 454px) {
  .intro-contact {
    padding-bottom: 30px;
  }
  .descr-iam {
    height: 40px;
    span:nth-child(1) {
      font-size: 24px;
    }
  }
  .descr {
    padding-right: 20px;
  }
  .name {
    span:nth-child(1) {
      font-size: 35px;
      line-height: 50px;
      letter-spacing: 6.3px;
    }
    span:nth-child(2) {
      font-size: 30px;
      line-height: 40px;
    }
  }
}

@media (max-width: 400px) {
  .character {
    padding-top: 100px;
    img:nth-child(1) {
      width: 350px !important;
    }
    img:nth-child(2) {
      width: 350px !important;
    }
  }

  .container-intro {
    gap: 65px;
  }

  .wave-img {
    height: 50px;
    top: 585px;
  }

  .intro-line {
    top: 715px;
  }

  .intro{
    gap:70px;
  }
}

@media (max-width: 395px) {
  .descr-iam {
    height: 30px;
    font-size: 20px;
  }
  .descr {
    padding-right: 20px;
  }
  .name {
    span:nth-child(1) {
      font-size: 32px;
      line-height: 32px;
      letter-spacing: 6.3px;
    }
    span:nth-child(2) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .container-intro{
    gap:80px;
  }
}

@media (max-width: 370px) {
  .descr-iam {
    height: 20px;
    font-size: 16px;
  }
  .descr {
    padding-right: 15px;
  }
  .name {
    span:nth-child(1) {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 6.3px;
    }
    span:nth-child(2) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .intro-line {
    top: 42.6875rem;
  }
}
