<section class="section-intro">
  <img src="assets/img/intro/wave.png" alt="" class="wave-img" />
  <div class="container-intro">
    <div class="character">
      <img src="assets/img/intro/character.png" alt="" />
      <img src="assets/img/intro/shadows.png" alt="" />
    </div>
    <div class="intro">
      <div class="descr">
        <span class="descr-iam">I am</span>
        <div class="name">
          <span>Lukas Nolting</span>
          <span>FRONTEND DEVELOPER</span>
        </div>
      </div>
      <a href="#contact"><button>Let´s talk!</button></a>
    </div>
  </div>

  <div class="intro-line">
    <div class="intro-contact">
      <div class="contact">
        <img src="assets/img/intro/line-1.png" alt="" class="intro-line-img" />
        <a href="https://github.com/LukasNolting" target="_blank">
          <img src="assets/img/intro/intro-github.svg" alt="" />
        </a>
        <a href="mailto:info@lukas-nolting.de">
          <img src="assets/img/intro/intro-email.svg" alt="" />
        </a>
        <a
          href="https://www.linkedin.com/in/lukas-nolting-1aa559296/"
          target="_blank"
        >
          <img src="assets/img/intro/intro-linkedin.svg" alt="" />
        </a>
        <a href="mailto:info@lukas-nolting.de" class="hover-underline-animation"
          >info&#64;lukas-nolting.de</a
        >
        <img
          src="assets/img/intro/line-1-transparent.svg"
          alt=""
          class="intro-line-img d-none-line"
        />
      </div>
    </div>
    <div class="intro-scroll">
      <img
        src="assets/img/intro/Scroll down.png"
        alt=""
        class="intro-scroll-img"
      />
    </div>
  </div>
</section>
