.section-intro {
  height: calc(100vh - 77px);
  background-color: #141d2f;
  padding-top: 150px;
}

.container-intro {
  position: absolute;
  display: flex;
  align-items: center;
  // height: 100%;
  width: 100%;
  img:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 600px;
    z-index: 2;
    bottom: -345px;
  }
}

.character {
  position: relative;
  overflow: visible;
  img:nth-child(1) {
    width: 600px;
    height: auto;
    position: absolute;
    z-index: 1;
    bottom: 0px;
    overflow: visible;
  }
  img:nth-child(2) {
    width: 600px;
    height: auto;
    rotate: 270deg;
  }
}

.descr {
  display: flex;
  align-items: center;

  span:nth-child(1) {
    font-size: 64px;
    font-weight: 400;
    rotate: -90deg;
    width: auto;
    height: 40px;
  }
}

.descr-iam {
  rotate: -90deg;
  height: 30px;
}


.name {
  display: flex;
  flex-direction: column;
  span:nth-child(1) {
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    rotate: 0deg;
    height: auto;
  }

  span:nth-child(2) {
    font-size: 58px;
    font-weight: 400;
    line-height: 68px;
    color: #4b47ff;
  }
  span {
    display: inline-block;
    width: 100%;
  }
}

.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  z-index: 3;
  button {
    background-color: #00bee8;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    z-index: 3;
  }
  button:hover {
    background-color: #4b47ff;
    transform-origin: center;
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
  }
}

.intro-contact {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: flex-end;
  gap: 42px;
  background-color: transparent;
  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    display: flex;
  }
}

.intro-line {
  position: absolute;
  z-index: 100;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 100px;
  background-color: transparent !important;
}

.intro-scroll {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  transform-origin: bottom right;
  right: 0;
  top: 0;
  transform: rotate(0deg) translateX(100%) translateY(0%);
  font-weight: 400;
  font-size: 23px;
  animation: jumpInfinite 2s infinite;
  box-sizing: border-box;
}

img {
  background-color: transparent !important;
}

@keyframes jumpInfinite {
  0% {
    margin-bottom: 0;
  }
  10% {
    margin-bottom: 5px;
  }
  20% {
    margin-bottom: 10px;
  }
  30% {
    margin-bottom: 15px;
  }
  40% {
    margin-bottom: 20px;
  }
  50% {
    margin-bottom: 25px;
  }
  60% {
    margin-bottom: 20px;
  }
  70% {
    margin-bottom: 15px;
  }
  80% {
    margin-bottom: 10px;
  }
  90% {
    margin-bottom: 5px;
  }
  100% {
    margin-bottom: 0;
  }
}

.contact {
  display: flex;
  align-items: center;
  gap: 42px;
  a {
    &:hover:nth-child(2),
    &:hover:nth-child(3),
    &:hover:nth-child(4) {
      transform-origin: center;
      transform: scale(1.34);
    }
  }
}

@media (max-width: 1400px) {
  .descr {
    span:nth-child(1) {
      font-size: 40px;
      line-height: 50px;
    }
  }
  .name {
    span:nth-child(1) {
      font-size: 56px;
      line-height: 80px;
      letter-spacing: 10px;
    }
    span:nth-child(2) {
      font-size: 48px;
      line-height: 60px;
    }
  }
}

@media (max-width: 1255px) {
  .container-intro {
    padding-top: 90px;
    justify-content: space-between;
    box-sizing: border-box;

    img:nth-child(1) {
      position: absolute;
      width: 100%;
      height: 300px;
      z-index: 2;
      bottom: -175px;
    }
  }

  .section-intro {
    padding-top: 100px;
  }

  .character {
    position: relative;
    padding-left: 30px;
    img:nth-child(1) {
      width: 500px;
      height: auto;
      position: absolute;
      z-index: 1;
      bottom: 0px;
    }
    img:nth-child(2) {
      width: 500px;
    }
  }

  .descr {
    padding-right: 50px;
  }
}

@media (max-width: 1195px) {
  .container-intro {
    flex-direction: column;
    padding-top: 0;
    gap: 50px;
  }

  .descr {
    padding: 0;
    width: 100%;
    &span:nth-child(1) {
      width: 0px;
    }
  }

  .wave-img {
    bottom: 190px !important;
    height: 105px !important;
  }

  .character {
    bottom: -30px;
    padding-left: 0;
  }

  .intro-contact {
    a:nth-child(5) {
      display: none;
    }
    padding-bottom: 20px;
  }
  .intro-scroll-img {
    display: none;
  }

  .descr {
    &span:nth-child(1) {
      line-height: 20px;
    }
  }

  .intro {
    gap: 35px;
  }

  .section-intro {
    height: auto;
  }
}

@media (max-width: 700px) {
  .intro {
    width: 100%;
  }
  .descr {
    display: flex;
    justify-content: center;
    padding-right: 40px;
    &span:nth-child(1) {
      height: 0px;
      line-height: 0;
    }
  }
  .descr-iam{
    height: 10px;
  }
    .name{
    span:nth-child(1) {
      line-height: 60px;
    }
    span:nth-child(2) {
      line-height: 60px;
    }
  }

    .wave-img {
    bottom: 185px !important;
    height: 80px !important;
  }
}


@media (max-width: 610px) {

  .descr-iam { 
    height: 20px;
    span:nth-child(1) {
    font-size: 32px;
  }
  }

  .name{
    span:nth-child(1) {
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 7.3px;
    }
    span:nth-child(2) {
      font-size: 36px;
      line-height: 40px;
    }
  }
  .wave-img{
    bottom: 190px !important;
  }

      .container-intro {gap:85px;}


}


@media (max-width: 500px) {
  .character{
    img{
      width: 400px !important;
    }
  }
}


@media (max-width: 458px) {
.intro-contact{
  padding-bottom: 30px;
}
  .descr-iam { 
    height: 20px;
    span:nth-child(1) {
    font-size: 30px;
  }
  }
  
}
@media (max-width: 451px) {
.intro-contact{
  padding-bottom: 30px;
}
  .descr-iam { 
    height: 40px;
    span:nth-child(1) {
    font-size: 24px;
  }
  }
.descr{
  padding-right: 20px;
}  
  .name{
    span:nth-child(1) {
      font-size: 28px;
      line-height: 50px;
      letter-spacing: 6.3px;
    }
    span:nth-child(2) {
      font-size: 26px;
      line-height: 40px;
    }
  }
  
}

@media (max-width: 451px) {

}