<section id="about-me">
  <img
    src="assets/img/about-me/shadow-about.png"
    alt=""
    class="shadow-about"
  />
  <div class="about-section" data-aos="fade-right">
    <h1>About me</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima sapiente
      unde, vero, quos molestias quisquam, delectus explicabo possimus excepturi
      accusantium qui omnis quas ab consequatur sequi optio deserunt.
      Recusandae, provident.
    </p>
    <div class="about-bulb">
      <img src="assets/img/about-me/about-bulb.png" alt="" data-aos="flip-up" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore mollitia
        necessitatibus dicta eligendi, fugit pariatur quasi velit officia eos,
        odio omnis, corporis magni quod perspiciatis? Quos beatae molestiae
        voluptates alias.
      </p>
    </div>
    <div class="about-puzzle">
      <img src="assets/img/about-me/about-puzzle.png" alt="" data-aos="flip-up" />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
        blanditiis, beatae incidunt excepturi asperiores possimus debitis.
        Deleniti incidunt quia ea quisquam expedita consequuntur nulla a
        aspernatur voluptas? Libero, dolores fugit!
      </p>
    </div>
  </div>

  <div class="character-container">
    <img src="assets/img/about-me/character-small.png" alt="">
    <img src="assets/img/about-me/line-right.png" alt="">
  </div>
</section>
