
<app-intro id="intro" style="position: relative; max-width: 100vw; overflow-x: hidden;"></app-intro>
<app-about-me id="about-me" style="position: relative; max-width: 100vw; overflow-x: hidden;"></app-about-me>
<app-skills id="skills" style="position: relative; max-width: 100vw; overflow-x: hidden;"></app-skills>
<app-portfolio id="portfolio" style="position: relative; max-width: 100vw; overflow-x: hidden;"></app-portfolio>
<app-contact id="contact" style="position: relative; max-width: 100vw; overflow-x: hidden;"></app-contact>
