<section class="section-intro">
  <app-navigation></app-navigation>

  <div class="container-intro">
    <img src="assets/img/intro/wave.png" alt="" />
    <div class="character">
      <img src="assets/img/intro/character.png" alt="" />
      <img src="assets/img/intro/shadows.png" alt="" />
    </div>
    <div class="intro">
      <div class="descr">
        <span>I am</span>
        <div class="name">
          <span>Lukas Nolting</span>
          <span>FRONTEND DEVELOPER</span>
        </div>
      </div>
      <button>Let´s talk!</button>
    </div>
  </div>
  <div class="intro-line">
    <div class="intro-contact">
      <div class="contact">
      <img src="assets/img/intro/line-1.png" alt="" />
      <a href="https://github.com/LukasNolting" target="_blank">
        <img src="assets/img/intro/Github-button.png" alt="" />
      </a>
      <a href="mailto:lukas.nolting@icloud.com">
        <img src="assets/img/intro/Email-button.png" alt="" />
      </a>
      <a
        href="https://www.linkedin.com/in/lukas-nolting-1aa559296/"
        target="_blank"
      >
        <img src="assets/img/intro/Linkedin-button.png" alt="" />
      </a>
      <a href="mailto:lukas.nolting@icloud.com">lukas.nolting&#64;icloud.com</a>
    </div>
    </div>
    <div class="intro-scroll">
      <!-- <span>Scroll down</span> -->
      <img src="assets/img/intro/Scroll down.png" alt="" class="intro-scroll-img" />
    </div>
  </div>
</section>
<app-about-me></app-about-me>
