section {
  position: relative;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  padding: 150px 0px 150px 100px;

}

.skills{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 650px;
  gap: 50px 80px;
  z-index: 10;
}

.skill-box{
  display: flex;
  flex-direction: column;
  width: 100px;
  gap: 15px;
  align-items: center;
  text-align: center;
  img{
    height: 60px;
    width: auto;
  }
}

@keyframes jump {
0%   { transform: translateY(0); }
        50%  { transform: translateY(-12px); }
        100% { transform: translateY(0); }
}
.jump:hover {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate;
}

h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;
}

.my-skills-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  width: 100%;
  padding: 0 100px;
  button {
    background-color: #00bee8;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    z-index: 3;
  }
    button:hover {
    background-color: #4b47ff;
    transform-origin: center;
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
  }
}


.my-skills-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 60px;
}

.my-skills-text{
  display: flex;
  text-align: center;
  justify-content: center;
}

.placeholder{
  width: 60px;
}

.shadow-skills{
  position: absolute;
  width: auto;
  height: 800px;
  bottom: -300px;
  left: 0;
  z-index: 0;
}