section {
  position: relative;
  padding-left: 100px;
  display: flex;
  justify-content: space-evenly;
  padding-top: 150px;

}

.skills{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 650px;
  gap: 50px 80px;
  z-index: 10;
}

.skill-box{
  display: flex;
  flex-direction: column;
  width: 100px;
  gap: 15px;
  align-items: center;
  text-align: center;
  img{
    height: 60px;
    width: auto;
  }
}

@keyframes jump {
0%   { transform: translateY(0); }
        50%  { transform: translateY(-12px); }
        100% { transform: translateY(0); }
}
.jump:hover {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate;
}

h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;
}

.my-skills-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  button {
    background-color: #00bee8;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    z-index: 3;
  }
    button:hover {
    background-color: #4b47ff;
    transform-origin: center;
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
  }
}

.my-skills-container-mobile{
  display: none;
}


.my-skills-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  gap: 60px;
}

.my-skills-text{
  display: flex;
  text-align: center;
  justify-content: center;
}

.placeholder{
  width: 60px;
}

.shadow-skills{
  position: absolute;
  width: auto;
  height: 800px;
  bottom: -300px;
  left: 0;
  z-index: 0;
}

@media (max-width: 1370px) {

  h1{
    font-size: 70px;
  }
  .shadow-skills{
  height: 50vh;
}
}
@media (max-width: 1275px) {

section{
  flex-direction: column-reverse;
  align-items: center;
  gap: 110px;
  padding-top: 0 !important;
  padding: 150px 0px 120px 0px;
}

.screen-button{
  display: none;
}
.my-skills-header{
  height: 250px;
  gap: 0;
  justify-content: space-evenly !important;
}

.my-skills-container-mobile{
  display: flex;
  justify-content: center;
}

.mobile-button {
    background-color: #00bee8;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    position: relative;
    line-height: 27px;
    z-index: 3;
    &:hover {
    background-color: #4b47ff;
    transform-origin: center;
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
  }
  }
}

@media (max-width: 700px) {
  .skills{
    width: 100%;
    justify-content: center;
    // margin: 0 20px;
  }
  .my-skills-header{
    height: 100%;
    gap: 40px;
  }
  section{
    gap: 80px;
    padding-top: 50px !important;
  }
}

@media (max-width: 560px) {
  h1{
    font-size: 60px;
  }
  .my-skills-header{
    width: 100%;
  }
  .my-skills-text{
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}