.imprint{
    border-top: 4px solid #00bee8;
    padding: 150px 100px;
    a{
        color: #4b47ff;
        text-decoration: underline;
    }
}


.contact-arrow {
  background-image: url("../../assets/img/contact/contact-arrow.png");
  z-index: 2;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  position: relative;
  width: 43px;
  height: 43px;
  top: 20px;
  rotate: -90deg;
  &:hover {
    background-image: url("../../assets/img/contact/contact-arrow-hover.png");
  }
}



@media (max-width: 660px) {
    .imprint{
    padding: 100px 20px;
    }
}