.header {
  background-color: #141d2f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  ul {
    display: flex;
    gap: 29px;
    font-weight: 400;
    font-size: 23px;
    padding-right: 100px;
    a {
      text-decoration: none;
    }
  }
  img {
    width: 80px;
    height: 40px;
    padding: 37px 0 37px 100px;
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4B47FF;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-animation:hover {
    color: #00BEE8;
}