

section{
  display: flex;
  justify-content: center
}

.section-contact {
  position: relative;
  padding-top: 150px;
  max-width: 1920px;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
}

.text-header {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 80px;
}

.contact-container {
  padding: 0 92px 180px;
  display: flex;
  gap: 150px;
  position: relative;
  z-index: 1;
}

.contact-container-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-container-right {
  position: relative;
  width: calc(100% - 120px);
}

.contact-container-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  > div {
    display: flex;
    flex-direction: column;
  }
  input[type="text"] {
    border-radius: 10px;
    border: 1px solid #4b47ff;
    padding: 15px 25px;
    gap: 10px;
    background-color: #141d2f;
    appearance: none;
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
    }
  }
  textarea {
    border-radius: 10px;
    border: 1px solid #4b47ff;
    padding: 15px 25px;
    gap: 10px;
    background-color: #141d2f;
    height: 200px;
    resize: none;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 400;
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
    }
    &::-webkit-resizer {
      display: none;
    }
  }
  button {
    background-color: #b6b6b6;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
    width: auto;
    margin: auto;
  }
}

label,
textarea {
  display: block !important;
}
input:focus-visible,
textarea:focus-visible {
  outline: none;
  border-radius: 10px;
  border: 1px solid red;
}

.contact-container-right-privacy {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;

  span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    a {
      color: #4b47ff;
    }
  }
}

input[type="checkbox"] {
  outline: none;
  border-radius: 4px;
  padding: 0;
  border: 2px solid #00bee8;
  appearance: none;
  min-width: 18px;
  height: 18px;
  background-color: transparent;
  cursor: pointer;
}

input:checked {
  background-image: url(../../../assets/img/contact/haken.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  min-width: 18px;
  height: 18px;
}

.contact-shadow-1 {
  position: absolute;
  left: -120px;
  height: 600px;
  bottom: 0;
}

.contact-arrow {
  background-image: url("../../../assets/img/contact/contact-arrow.png");
  z-index: 2;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  position: absolute;
  bottom: 90px;
  right: 100px;
  width: 43px;
  height: 43px;
  &:hover {
    background-image: url("../../../assets/img/contact/contact-arrow-hover.png");
  }
}

.validation {
  font-size: 14px;
  font-weight: 300;
  color: red !important;
}


.validation-container{
  position: absolute;
  width: auto;
  height: auto;
  right: 20px;
  top: 12px;
}

.contact-container-input-fields {
  position: relative;
}

.line{
  position: relative;
  width: 80px;
  .coloredLineLeft{
      position: absolute;
      right: 0px;
      height: 0px;
      width: 5000px;
      border: #4b47ff solid 2px;
      border-radius: 0 2px 2px 0px;
  }
  .coloredLineRight{
    position: absolute;
    left: 50px;
    height: 0px;
    width: 5000px;
    border: #4b47ff solid 4px;
}}

@media (max-width: 1370px) {
  .contact-container{
    flex-direction: column;
    gap: 60px;
    align-items: center;
  }
  .contact-container-left{
    width: 80%;
  }
  h1{
    font-size: 70px;
  }
  .text-header{
    padding-bottom: 40px;
  }
  .contact-shadow-1{
    height: 30vh;
    bottom: 0px;
  }
}

@media (max-width: 890px) {
  .contact-container{
    padding: 0 50px 50px;
  }
}

@media (max-width: 750px) {
  .section-contact{
    padding-top: 50px;
  }
}
@media (max-width: 690px) {
  .contact-arrow{
    right: 50px;
  }
  .text-header{
    padding-bottom: 0;
  }
}

@media (max-width: 580px) {
  .contact-container-right{
    width: 100%;
  }
  .contact-container-left{
    width: 100%;
  }
}
@media (max-width: 560px) {
  h1{
    font-size: 60px;
  }
}

@media (max-width: 500px) {
  .contact-container{
    gap: 40px;
  }
  .contact-arrow{
    right: 10px;
    bottom: 115px;
  }
}

@media (max-width: 470px) {
  .line{
    display: none;
  }
  .text-header{
    justify-content: center;
  }
}
@media (max-width: 430px) {
  .text-header{
    justify-content: center;
    img{
      display: none;
    }
  }
  .contact-container-right-privacy{
    padding-bottom: 40px;
  }
  .contact-container{
    padding: 50px 20px;
  }
}