
<!-- <img src="assets/img/contact/contact-shadow-1.png" class="contact-shadow-1" /> -->
<section id="contact">
  <div class="section-contact">
  <div class="text-header">
    <div class="line">
            <div class="coloredLineLeft"></div>
        </div>
    <h1>Contact</h1>
  </div>

  <div class="contact-container">
    <div class="contact-container-left">
      <h2>Got a problem to solve?</h2>
      <span>
        Contact me through this form, I am interested in hearing from you,
        knowing your ideas and contributing to your projects with my work.
      </span>
      <span> Need a Frontend developer? <b>Contact me!</b> </span>
    </div>
    <div class="contact-container-right">
      <form class="contact-container-form" #contactForm="ngForm" return false>
        <div class="contact-container-input-fields">
          <input
            [(ngModel)]="contactData.name"
            name="name"
            id="name"
            type="text"
            placeholder="Your name"
            minlength="4"
            required
            #name="ngModel"
            [ngStyle]="{
              'border-color':
                !name.valid && (name.touched || name.dirty)
                  ? 'red'
                  : name.valid && (name.touched || name.dirty)
                  ? 'green'
                  : '#4b47ff'
            }"
          />
          <span class="validation-container">
            <img
              *ngIf="!name.valid && name.touched"
              src="assets/img/contact/invalid.svg"
              alt=""
              class="validation-icons"
            />
            <img
              *ngIf="name.valid && name.touched"
              src="assets/img/contact/valid.svg"
              alt=""
              class="validation-icons"
            />
          </span>

          <p>
            @if (!name.valid && name.touched) {
            <span class="validation">Please enter a valid name</span>
            }
          </p>
        </div>

        <div class="contact-container-input-fields">
          <input
            [(ngModel)]="contactData.email"
            name="email"
            id="email"
            type="text"
            placeholder="Your email"
            required
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            minlength="8"
            #email="ngModel"
            [ngStyle]="{
              'border-color':
                !email.valid && (email.touched || email.dirty)
                  ? 'red'
                  : email.valid && (email.touched || email.dirty)
                  ? 'green'
                  : '#4b47ff'
            }"
          />
          <span class="validation-container">
            <img
              *ngIf="!email.valid && email.touched"
              src="assets/img/contact/invalid.svg"
              alt=""
              class="validation-icons"
            />
            <img
              *ngIf="email.valid && email.touched"
              src="assets/img/contact/valid.svg"
              alt=""
              class="validation-icons"
            />
          </span>
          <p>
            @if (!email.valid && email.touched) {
            <span class="validation">Please enter a valid email</span>
            }
          </p>
        </div>

        <div class="contact-container-input-fields">
          <textarea
            [(ngModel)]="contactData.message"
            name="Your message"
            id="message"
            minlength="10"
            placeholder="Your message"
            autocomplete="off"
            required
            #message="ngModel"
            [ngStyle]="{
              'border-color':
                !message.valid && (message.touched || message.dirty)
                  ? 'red'
                  : message.valid && (message.touched || message.dirty)
                  ? 'green'
                  : '#4b47ff'
            }"
          ></textarea>
          <span class="validation-container">
            <img
              *ngIf="!message.valid && message.touched"
              src="assets/img/contact/invalid.svg"
              alt=""
              class="validation-icons"
            />
            <img
              *ngIf="message.valid && message.touched"
              src="assets/img/contact/valid.svg"
              alt=""
              class="validation-icons"
            />
          </span>
          <p>
            @if (!message.valid && message.touched) {
            <span class="validation"
              >Your message must be at least 10 characters long</span
            >
            }
          </p>
        </div>
        <div class="contact-container-right-privacy">
          <input
            type="checkbox"
            [(ngModel)]="contactData.privacy"
            name="privacy"
            id="Ford"
            required
            #privacy="ngModel"
          />
          <span
            >I've read the
            <a
              routerLink="imprint"
              target="_blank"
              (click)="navigateToPrivacy()"
              >privacy policy</a
            >
            and agree to the processing of my data as outlined.</span
          >
        </div>

        <button
          [disabled]="contactForm.invalid"
          (click)="onSubmit(contactForm)"
          [ngStyle]="{
            'background-color': (contactForm.valid) ? '#00bee8' : 'grey',
            'cursor': (contactForm.valid) ? 'pointer' : 'not-allowed'
          }"
        >
          Send message :)
        </button>
      </form>
    </div>
  </div>
  <a href="#intro"><div class="contact-arrow"></div></a>
</div>
</section>
