

section {
  border-top: 4px solid #00bee8;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #141d2f;
}

.section-footer {
max-width: 1920px;
width: 100%;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 290px;
  padding: 37px 100px 37px 100px;
  box-sizing: border-box;
  span {
    font-size: 23px;
    line-height: 120%;
  }
}

.footer-container-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  a {
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    padding: 5px 10px 5px 0;
  }
  img {
    width: 80px;
    height: 40px;
  }
}

.footer-container-right {
  display: flex;
  gap: 42px;
  a {
    width: 30px;
    height: 30px;
    &:hover {
      transform-origin: center;
      transform: scale(1.34);
    }
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4b47ff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-animation:hover {
  color: #00bee8;
}

@media (max-width: 850px) {
  .footer-container {
    padding: 37px 50px 37px 50px;
    height: 200px;
  }
}

@media (max-width: 700px) {
  .footer-container {
    span {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .footer-container-left{
    display: none;
    
  }
  .footer-container{
    justify-content: center;
    padding: 0 0;
    height: 150px;
  }
}
